* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
  background: rgb(233, 244, 18);
  background: linear-gradient(
    0deg,
    rgba(233, 244, 18, 1) 42%,
    rgba(253, 187, 45, 1) 100%
  );
}

/* Top menu */
.game-over {
  font-weight: bolder;
}
.top-menu {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}
.reset-btn {
  padding: 0.5rem 1.3rem;
  border-radius: 5px;
  border: none;
  background-color: antiquewhite;
  cursor: pointer;
}
.reset-btn:hover {
  background-color: rgba(250, 235, 215, 0.6);
}
/* hangman body */

.base {
  width: 150px;
  height: 10px;
  background-color: black;
}

.bar {
  width: 10px;
  height: 320px;
  background-color: black;
}

.horizontal-bar {
  width: 250px;
  height: 10px;
  background-color: black;
  position: relative;
}

.bar-down {
  position: absolute;
  width: 10px;
  height: 80px;
  background-color: black;
  margin-left: 250px;
}
.head {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(43, 42, 42);
  margin-left: 230px;
  margin-top: 80px;
}
.torso {
  position: absolute;
  width: 10px;
  height: 100px;
  background-color: rgb(43, 42, 42);
  margin-left: 250px;
  margin-top: 120px;
}
.left-arm {
  position: absolute;
  margin-left: 230px;
  margin-top: 130px;
  width: 10px;
  height: 80px;
  background-color: rgb(43, 42, 42);
  transform: rotate(30deg);
}

.right-arm {
  position: absolute;
  margin-left: 270px;
  margin-top: 130px;
  width: 10px;
  height: 80px;
  background-color: rgb(43, 42, 42);
  transform: rotate(-30deg);
}

.left-leg {
  position: absolute;
  margin-left: 230px;
  margin-top: 210px;
  width: 10px;
  height: 80px;
  background-color: rgb(43, 42, 42);
  transform: rotate(30deg);
}
.right-leg {
  position: absolute;
  margin-left: 270px;
  margin-top: 210px;
  width: 10px;
  height: 80px;
  background-color: rgb(43, 42, 42);
  transform: rotate(-30deg);
}

/* hangman word */
.hangmanWord {
  display: flex;
  gap: 1.5rem;
}
.letter {
  width: 2rem;
  text-align: center;
  font-size: 2rem;
  border-bottom: 4px solid;
  text-transform: capitalize;
}
.hidden {
  visibility: hidden;
}

/* keyboard */

.keyboard {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.btn {
  text-transform: capitalize;
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 6px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: rgb(242, 186, 45);
}
.btn:hover {
  background-color: rgb(231, 235, 122);
}

.inactive,
.inactive:hover {
  opacity: 0.8;
  background: none;
}
.isActive {
  background-color: rgb(66, 203, 20);
  color: rgb(252, 252, 252);
}
