* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
}

/* hangman body */

.base {
  width: 150px;
  height: 10px;
  background-color: black;
}

.bar {
  width: 10px;
  height: 320px;
  background-color: black;
}

.horizontal-bar {
  width: 250px;
  height: 10px;
  background-color: black;
  position: relative;
}

.bar-down {
  position: absolute;
  width: 10px;
  height: 80px;
  background-color: black;
  margin-left: 250px;
}
.head {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  margin-left: 230px;
  margin-top: 80px;
}
.torso {
  position: absolute;
  width: 10px;
  height: 100px;
  background-color: black;
  margin-left: 250px;
  margin-top: 120px;
}
.left-arm {
  position: absolute;
  margin-left: 230px;
  margin-top: 130px;
  width: 10px;
  height: 80px;
  background-color: black;
  transform: rotate(30deg);
}

.right-arm {
  position: absolute;
  margin-left: 270px;
  margin-top: 130px;
  width: 10px;
  height: 80px;
  background-color: black;
  transform: rotate(-30deg);
}

.left-leg {
  position: absolute;
  margin-left: 230px;
  margin-top: 210px;
  width: 10px;
  height: 80px;
  background-color: black;
  transform: rotate(30deg);
}
.right-leg {
  position: absolute;
  margin-left: 270px;
  margin-top: 210px;
  width: 10px;
  height: 80px;
  background-color: rgb(217, 228, 17);
  transform: rotate(-30deg);
}

/* hangman word */
.hangmanWord {
  font-size: 4rem;
  word-spacing: 1rem;

  display: flex;
  gap: 1.5rem;
}
.letter {
  border-bottom: 4px solid;
}
.hidden {
  visibility: hidden;
}

/* keyboard */

.keyboard {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.btn {
  text-transform: capitalize;
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 6px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: rgb(242, 186, 45);
}
.btn:hover {
  background-color: rgb(231, 235, 122);
}

.inactive,
.inactive:hover {
  opacity: 0.8;
  background: none;
}
.isActive {
  background-color: rgb(66, 203, 20);
  color: rgb(252, 252, 252);
}
